.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 120px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
  background: transparent;
  text-shadow: 0 0 40px #65D6F6;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  color: #e0e0e0;
}

.experiencia-texto strong {
  color: #fff;
  text-shadow: 2px 1px #7418de;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
}

.empresa::before {
  content: " ";
  display: block;
  width: 6px;
  height: 25px;
  background: linear-gradient(#7418de, #65D6F6);
  position: absolute;
  top: 20px;
  left: -7px;
  z-index: 1;
}

.empresa-ano {
  position: absolute;
  top: 24px;
  left: -100px;
  color: #e0e0e0;
  font-size: 0.875rem;
  text-align: right;
  width: 80px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #e0e0e0;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px #7418de;
  padding: 5px;
}


@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #fff;
    text-shadow: none;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    color: #65D6F6;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
  .empresa-ano {
    text-align: right;
  }
}